<div class="post-share clearfix">
    <!-- <p class="counter"><span>53</span>Shares</p> -->
    <ul class="social-icons style2">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=#"><i class="fa fa-facebook"></i>Like</a></li>
        <li><a href="https://twitter.com/intent/tweet"><i class="fa fa-twitter"></i>Tweet</a></li>
        <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=#&amp;title=&amp;summary=&amp;source="><i class="fa fa-linkedin"></i>Linkedin</a></li>
    </ul>
</div>
<!-- /post-share -->