<section class="contents-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contents-inner blog-single clearfix">

                    <article class="blog-post col-md-12">
                        <header>
                            <h3><a href="http://seaboardthemes.com/flexzine/wp/tom-sachs-brings-boombox-culture-back-to-the-brooklyn-museum/">{{ article.title }}</a></h3>
                            <div class="meta">
                                <span>By: {{article.author.name.first}} {{article.author.name.last}}</span>
                                <span><time>Published: {{article.publishedDate | date}}</time></span>
                                <span>Tags: {{ article.tags.join(", ") }}</span>
                            </div>
                            <!-- /meta -->
                            <figure>
                                <a href="#" title="{{ article.title }}">
                                    <img src="{{ article.image.url }}" class="attachment-full size-full wp-post-image">
                                </a>
                            </figure>
                        </header>

                        <div class="post-content" [innerHTML]="article.content.extended"></div>
                        <!-- /post-content -->

                        <app-social-icons></app-social-icons>

                        <div class="post-meta">
                            <p class="author">By: <a href="#">{{ article.author.name.first }} {{ article.author.name.last }}</a></p>
                            <div class="post-tags">
                                <ul>
                                    Tags:
                                    <li *ngFor="let tag of article.tags"><a href="#"> &nbsp;{{ tag }}</a></li>
                                </ul>
                            </div>
                            <!-- /post-tags -->
                        </div>
                        <!-- /post-meta -->

                        <div class="post-author">
                            <figure class="avatar">
                                <img alt="" src="http://2.gravatar.com/avatar/29e43607c06fb317e13c09a8a67e3532?s=90&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/29e43607c06fb317e13c09a8a67e3532?s=180&amp;d=mm&amp;r=g 2x" class="media-object img-responsive img-circle avatar-90 photo"
                                    height="90" width="90"> </figure>
                            <div class="author-details">
                                <h2>{{ article.author.name.first }} {{ article.author.name.last }}</h2>
                                <p [innerHTML]="article.author.bio"></p>
                                <ul class="social-icons small">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                            <!-- /author-details -->
                        </div>
                        <!-- /post-author -->


                        <div class="related-posts">
                            <h6>YOU MIGHT ALSO LIKE</h6>
                            <div class="row">
                                <article class="blog-post col-md-4 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-featured tag-hot tag-lifestyle">
                                    <header>
                                        <figure>
                                            <a href="http://seaboardthemes.com/flexzine/wp/dekmantel-patta-re-team-for-2016-summer/" title="Dekmantel &amp; Patta Re-Team for 2016 Summer"><img width="495" height="356" src="http://seaboardthemes.com/flexzine/wp/wp-content/uploads/2016/07/38-495x356.jpg" class="attachment-flexzine-medium-alt size-flexzine-medium-alt wp-post-image" alt="38"></a>
                                        </figure>
                                        <h3><a href="http://seaboardthemes.com/flexzine/wp/dekmantel-patta-re-team-for-2016-summer/">Dekmantel &amp; Patta Re-Team for 2016 Summer</a></h3>
                                        <div class="meta">
                                            <span><a href="http://seaboardthemes.com/flexzine/wp/category/lifestyle/" rel="category tag">Lifestyle</a></span>
                                            <span><time datetime="2016-07-21">July 21, 2016</time></span>
                                        </div>
                                        <!-- /meta -->
                                    </header>
                                </article>
                                <article class="blog-post col-md-4 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-featured tag-hot tag-lifestyle">
                                    <header>
                                        <figure>
                                            <a href="http://seaboardthemes.com/flexzine/wp/the-evolution-of-her-signature-line-with-urban-outfitters/" title="The Evolution of Her Signature Line With Urban Outfitters"><img width="495" height="356" src="http://seaboardthemes.com/flexzine/wp/wp-content/uploads/2016/07/5-495x356.jpg" class="attachment-flexzine-medium-alt size-flexzine-medium-alt wp-post-image" alt="5"></a>
                                        </figure>
                                        <h3><a href="http://seaboardthemes.com/flexzine/wp/the-evolution-of-her-signature-line-with-urban-outfitters/">The Evolution of Her Signature Line With Urban Outfitters</a></h3>
                                        <div class="meta">
                                            <span><a href="http://seaboardthemes.com/flexzine/wp/category/lifestyle/" rel="category tag">Lifestyle</a></span>
                                            <span><time datetime="2016-07-21">July 21, 2016</time></span>
                                        </div>
                                        <!-- /meta -->
                                    </header>
                                </article>
                                <article class="blog-post col-md-4 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion tag-fashion tag-featured">
                                    <header>
                                        <figure>
                                            <a href="http://seaboardthemes.com/flexzine/wp/heres-what-you-need-to-know-about-collaborations-in-fashion/" title="Here's What You Need to Know About Collaborations in Fashion"><img width="495" height="356" src="http://seaboardthemes.com/flexzine/wp/wp-content/uploads/2016/07/43-495x356.jpg" class="attachment-flexzine-medium-alt size-flexzine-medium-alt wp-post-image" alt="43"></a>
                                        </figure>
                                        <h3><a href="http://seaboardthemes.com/flexzine/wp/heres-what-you-need-to-know-about-collaborations-in-fashion/">Here’s What You Need to Know About Collaborations in Fashion</a></h3>
                                        <div class="meta">
                                            <span><a href="http://seaboardthemes.com/flexzine/wp/category/fashion/" rel="category tag">Fashion</a></span>
                                            <span><time datetime="2016-07-21">July 21, 2016</time></span>
                                        </div>
                                        <!-- /meta -->
                                    </header>
                                </article>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /related-posts -->
                    </article>
                </div>
                <!-- /contents-inner -->
            </div>
            <!-- /col-md-8 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>