<!-- Header area start -->
<header class="header-area header-style-one intelligent-header">
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3  col-sm-2 col-xs-6">
                    <div class="logo">
                        <h3><a href="index.html">Contrivers'</a></h3>
                    </div>
                </div>
                <div class="col-md-9 col-sm-10 hidden-xs hidden-sm">
                    <div class="menu-area">
                        <nav>
                            <ul class="main-menu clearfix">
                                <li><a href="#">Home <span><i class="ti-angle-down"></i></span></a>
                                    <ul>
                                        <li><a href="index.html">Erika - Home 1 </a></li>
                                        <li><a href="index-2.html">Erika - Home 2</a></li>
                                        <li><a href="index-3.html">Erika - Home 3</a></li>
                                        <li><a href="index-4.html">Erika - Home 4</a></li>
                                        <li><a href="index-5.html">Erika - Home 5</a></li>
                                        <li><a href="index-6.html">Erika - Home 6</a></li>
                                        <li><a href="index-7.html">Erika - Home 7</a></li>
                                        <li><a href="index-8.html">Erika - Home 8</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-me.html">Pages<span><i class="ti-angle-down"></i></span></a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="contact-2.html">Contact 2</a></li>
                                        <li><a href="404.html">404 Not Found</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Shortcodes<span><i class="ti-angle-down"></i></span></a>
                                    <ul>
                                        <li><a href="shortcode-accordion.html">accordion</a></li>
                                        <li><a href="shortcode-button.html">buttons</a></li>
                                        <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                        <li><a href="shortcode-breadcrumb-2.html">breadcrumb 2</a></li>
                                        <li><a href="shortcode-service-box.html">service box</a></li>
                                        <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                        <li><a href="shortcode-header-one.html">header 1</a></li>
                                        <li><a href="shortcode-header-two.html">header 2</a></li>
                                        <li><a href="shortcode-header-three.html">header 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog <span><i class="ti-angle-down"></i></span></a>
                                    <ul class="dropdown-show-right">
                                        <li><a href="blog.html">Blog Default</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="single-post-full-width.html">Post Full width</a></li>
                                        <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                        <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">about</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- START OF MOBILE MENU AREA -->
                <div class="mobile-menu-area clearfix hidden-md hidden-lg">
                    <nav class="mobile-menu">
                        <ul>
                            <li><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Erika - Home 1 </a></li>
                                    <li><a href="index-2.html">Erika - Home 2</a></li>
                                    <li><a href="index-3.html">Erika - Home 3</a></li>
                                    <li><a href="index-4.html">Erika - Home 4</a></li>
                                    <li><a href="index-5.html">Erika - Home 5</a></li>
                                    <li><a href="index-6.html">Erika - Home 6</a></li>
                                    <li><a href="index-7.html">Erika - Home 7</a></li>
                                    <li><a href="index-8.html">Erika - Home 8</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Portfoli</a>
                                <ul>
                                    <li><a href="#">Masonr</a>
                                        <ul>
                                            <li><a href="portfolio-2-column-masonry-gutter.html">2 Grid Gutter</a></li>
                                            <li><a href="portfolio-2-column-masonry-gutter-full.html">2 Grid Gutter Full</a></li>
                                            <li><a href="portfolio-2-column-masonry-no-gutter.html">2 Grid Gutter less</a></li>
                                            <li><a href="portfolio-2-column-masonry-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                            <li><a href="portfolio-3-column-masonry-gutter.html">3 Grid Gutter</a></li>
                                            <li><a href="portfolio-3-column-masonry-gutter-full.html">3 Grid Gutter Full</a></li>
                                            <li><a href="portfolio-3-column-masonry-no-gutter.html">3 Grid Gutter less</a></li>
                                            <li><a href="portfolio-3-column-masonry-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                            <li><a href="portfolio-4-column-masonry-gutter.html">4 Grid Gutter</a></li>
                                            <li><a href="portfolio-4-column-masonry-gutter-full.html">4 Grid Gutter Full</a></li>
                                            <li><a href="portfolio-4-column-masonry-no-gutter.html">4 Grid Gutter less</a></li>
                                            <li><a href="portfolio-4-column-masonry-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Boxe</a>
                                        <ul>
                                            <li><a href="portfolio-2-column-boxed-gutter.html">2 Grid Gutter</a></li>
                                            <li><a href="portfolio-2-column-boxed-gutter-full.html">2 Grid Gutter Full</a></li>
                                            <li><a href="portfolio-2-column-boxed-no-gutter.html">2 Grid Gutter less</a></li>
                                            <li><a href="portfolio-2-column-boxed-no-gutter-full.html">2 Grid Gutter Less Full </a></li>

                                            <li><a href="portfolio-3-column-boxed-gutter.html">3 Grid Gutter</a></li>
                                            <li><a href="portfolio-3-column-boxed-gutter-full.html">3 Grid Gutter Full</a></li>
                                            <li><a href="portfolio-3-column-boxed-no-gutter.html">3 Grid Gutter less</a></li>
                                            <li><a href="portfolio-3-column-boxed-no-gutter-full.html">3 Grid Gutter Less Full </a></li>

                                            <li><a href="portfolio-4-column-boxed-gutter.html">4 Grid Gutter</a></li>
                                            <li><a href="portfolio-4-column-boxed-gutter-full.html">4 Grid Gutter Full</a></li>
                                            <li><a href="portfolio-4-column-boxed-no-gutter.html">4 Grid Gutter less</a></li>
                                            <li><a href="portfolio-4-column-boxed-no-gutter-full.html">4 Grid Gutter Less Full </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="single-project-one.html">project single 1</a></li>
                                    <li><a href="single-project-two.html">project single 2</a></li>
                                    <li><a href="single-project-three.html">project single video</a></li>
                                </ul>
                            </li>
                            <li><a href="about-me.html">Page</a>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="about-me.html">About Me</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="contact-2.html">Contact 2</a></li>
                                    <li><a href="404.html">404 Not Found</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Shortcodes</a>
                                <ul>
                                    <li><a href="shortcode-accordion.html">accordion</a></li>
                                    <li><a href="shortcode-button.html">buttons</a></li>
                                    <li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
                                    <li><a href="shortcode-breadcrumb-2.html">breadcrumb 2</a></li>
                                    <li><a href="shortcode-service-box.html">service box</a></li>
                                    <li><a href="shortcode-progressbar.html">progressbar</a></li>
                                    <li><a href="shortcode-header-one.html">header 1</a></li>
                                    <li><a href="shortcode-header-two.html">header 2</a></li>
                                    <li><a href="shortcode-header-three.html">header 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul class="dropdown-show-right">
                                    <li><a href="blog.html">Blog Default</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="single-post-full-width.html">Post Full width</a></li>
                                    <li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
                                    <li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">about</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- END OF MOBILE MENU AREA -->
            </div>
        </div>
    </div>
</header>
<div class="intelligent-header-space"></div>
<!-- Header area End -->



<!-- Start Top Bar -->
<!-- <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Contrivers Review</li>
            <li class="has-submenu">
              <a href="#">Articles</a>
            </li>
            <li><a href="#">Book Reviews</a></li>
            <li><a href="#">Interviews</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><i class="fa fa-facebook-official fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><i class="fa fa-twitter fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><i class="fa fa-linkedin-square fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><i class="fa fa-envelope fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>   -->
<!-- /top bar -->