<!-- <div class="top-message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="close-btn"></span>
                <p>OPTIONAL TEXT MESSAGE OR BANNER CAN GO HERE!</p>
            </div>
            <!-- /col-md-12 --
        </div>
        <!-- /row --
    </div>
    <!-- /container --
</div>
<!-- /top-message -->

<div class="top-nav-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-menu">
                    <a href="#" class="top-nav-trigger">
                        <span class="bars">
                                    <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>
                    <ul class="top-nav">
                        <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="http://seaboardthemes.com/flexzine/wp/about/">About</a></li>
                        <li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="http://seaboardthemes.com/flexzine/wp/contact/">Contact</a></li>
                        <li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="http://seaboardthemes.com/flexzine/wp/options/">Options</a></li>
                    </ul>
                </div>
                <div class="modules">
                    <ul class="social-icons small">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                    </ul>
                </div>
                <!-- /modules -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /top-nav-wrapper -->
<header id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-wrapper header-logo">
                    <a href="http://seaboardthemes.com/flexzine/wp/" class="logo">
                        <img src="../../assets/img/logo/crtrans.png" alt="">
                    </a>
                </div>
                <!-- /logo-wrapper -->
            </div>

            <div class="col-md-12">
                <div class="logo-wrapper mobile-logo">
                    <a href="http://seaboardthemes.com/flexzine/wp/" class="logo">
                        <!-- <img src="../../assets/img/logo/crtrans.png" alt=""> -->
                    </a>
                </div>
                <!-- /logo-wrapper -->
                <nav class="main-nav clearfix">
                    <a href="#" class="mobile-nav-trigger">
                        <span class="bars">
                            <span></span><span></span><span></span>
                        </span>
                    </a>
                    <ul id="nav" class="main-nav-items">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children has-children">
                            <a href="#">Blog Layouts</a>
                            <ul>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-children">
                                    <a href="#">Normal Layouts</a>
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Classic Layout</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Blog Grid + Post Series Alternate</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-children">
                                    <a href="#">Boxed Layouts</a>
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Classic Layout Boxed</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Blog Grid + Post Series Alternate Boxed</a></li>
                                    </ul>
                                </li>
                                <li iclass="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children has-children">
                                    <a href="#">Full Width Layouts</a>
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Classic Full Width</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Blog Grid + Post Series Alternate Full Width</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-children">
                                    <a href="#">Full Width Boxed Layouts</a>
                                    <ul>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Classic Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">List Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Grid Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Single Classic + 2 Grid Combo Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog Classic + Grid Combo Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog Classic + Post Series Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog Classic + Post Series w/o Category Full Width Boxed</a></li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog Classic + Post Series Alternate Full Width Boxed</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-children">
                            <a href="#">Header Layouts</a>
                            <ul>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Half Slider + 2 Posts Right</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Half Slider + 3 Post Right</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Slider Full + 3 Posts Bottom</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Slider Full + 4 Post Top</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                    <a href="#">Slider Full + 4 Post Bottom</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="#">Centered Logo Example</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-children">
                            <a href="#">Post Formats</a>
                            <ul>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="#">Standard Post</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="#">Full Width Standard Post</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post">
                                    <a href="#">Gallery Slider Post</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="#">Gallery Slider Post Full Width</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post">
                                    <a href="#">Masonry Gallery Post</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-post">
                                    <a href="#">Masonry Gallery Post Full Width</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="#">Video Post</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                    <a href="#">Video Post Full Width</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="http://seaboardthemes.com/flexzine/wp/category/fashion/">Fashion</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="http://seaboardthemes.com/flexzine/wp/category/lifestyle/">Lifestyle</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="http://seaboardthemes.com/flexzine/wp/category/food/">Food</a>
                        </li>
                    </ul>
                    <div class="search-container">
                        <a href="#" class="trigger">
                            <i class="fa fa-search"></i>
                        </a>
                        <form id="signup_form" method="get" class="search-form" action="#">
                            <div class="input_var">
                                <input class="search-field" type="search" id="s" name="s" placeholder="Search...">
                                <input type="submit" value="">
                            </div>
                        </form>
                    </div>
                    <!-- /search-container -->
                </nav>
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</header>