<!-- Start Top Bar -->
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <div class="row">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Contrivers Review</li>
            <li class="has-submenu">
              <a href="#">Articles</a>
            </li>
            <li><a href="#">Book Reviews</a></li>
            <li><a href="#">Interviews</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><i class="fa fa-facebook-official fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><i class="fa fa-twitter fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><i class="fa fa-linkedin-square fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><i class="fa fa-envelope fa-2x">&nbsp;&nbsp;&nbsp;</i></li>
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>  
<!-- /top bar -->