<article class="blog-post article-single blog-post-wrapper col-md-12 post type-post status-publish format-standard has-post-thumbnail hentry category-art tag-art">
    <aside>
        <figure>
            <a routerLink="/article/{{article.slug}}" title="{{ article.title }}">
                <img width="495" height="356" src="{{ article.image.url }}" class="attachment-flexzine-medium-alt size-flexzine-medium-alt wp-post-image">
            </a>
        </figure>
    </aside>
    <div class="contents">
        <header class="pt-0">
            <ul class="categories">
                <li><a routerLink="/article/{{article.slug}}" rel="category tag">{{ article.contentType | uppercase }}</a></li>
            </ul>
            <h3><a routerLink="/article/{{article.slug}}" target="_self">{{ article.title }}</a></h3>
            <div class="meta">
                <span>By: {{article.author.name.first}} {{article.author.name.last}}</span>
                <span><time>Published: {{article.publishedDate | date}}</time></span>
                <span>Tags: {{ article.tags.join(", ") }}</span>
                <!-- <span>105 Views</span>
                <span><a href="#">0 Comment</a></span> -->
            </div>
            <!-- /meta -->

        </header>
        <div class="post-content" [innerHTML]="article.content.abstract"></div>
        <!-- /post-content -->
    </div>
</article>