<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div>
                <nav class="nav-trigger" (click)="onShowMenu()">
                    <span class="bars">
                      <span></span><span></span><span></span>
                    </span>
                </nav>
            </div> -->
            <div class="top-menu logo-container">
                <!-- <a routerLink="/">
                    <img alt="logo" width="125px" src="../../assets/img/logo/crheader.png">
                </a> -->
                <ul class="main-nav-items" *ngIf="pages">
                    <li *ngFor="let page of pages" [id]="page.slug" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a routerLink="/page/{{ page.slug }}">{{ page.title }}</a>
                    </li>
                </ul>
            </div>
            <div class="modules">
                <ul class="social-icons small">
                    <li><a href="https://www.facebook.com/contriversrev/" target=”_blank”><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/contriversrev" target=”_blank”><i class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto:editor@contrivers.org" target=”_blank”><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>