<div class="widget widget_wysija" id="wysija-14">
    <h5 class="widget-title">Subscribe</h5>
    <div class="widget_wysija_cont flexine-form">
        <div class="wysija-msg ajax" id="msg-form-wysija-2">Enter your email below to receive updates on new articles, interviews, and book reviews</div>
        <br>
        <form action="#wysija" class="widget_wysija ng-untouched ng-pristine ng-valid" id="form-wysija-2">
            <p class="wysija-paragraph">
                <input class="wysija-input" name="email" placeholder="Enter Your Email" title="Email" type="text" value="">
            </p>
            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
        </form>
    </div>
</div>