<div class="widget widget_wysija">
    <!-- <h5 class="widget-title">Subscribe</h5> -->
    <div>
        <img width="155" src="../../assets/img/logo/contrivers.png">
    </div>
    <div class="widget_wysija_cont flexine-form">
        <h4>Subscribe</h4>
        <div class="wysija-msg ajax" id="msg-form-wysija-2">Enter your email below to receive updates on new articles, interviews, and book reviews</div>
        <br>
        <form action="#wysija" class="widget_wysija ng-untouched ng-pristine ng-valid" id="form-wysija-2">
            <p class="wysija-paragraph">
                <input class="wysija-input" name="email" placeholder="Enter Your Email" title="Email" type="text" value="">
            </p>
            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
        </form>
    </div>
</div>