img.crop {
    width: 290px;
    height: 245px;
    object-fit: cover;
    max-width: 100%;
}

img.featured {
    width: 720px;
    height: 500px;
    object-fit: cover;
    max-width: 100%;
}

h3 {
    background-color: rgba(0, 0, 0, 0.6);
}