<div id="text-3" class="widget widget_text">
    <h5 class="footer-widget-title">About Us</h5>
    <div class="textwidget">
        <p>In cursus nibh et congue aliquam. Fusce ipsum tellus, pellentesque a consequat.</p>
    </div>
</div>
<div id="wysija-2" class="widget widget_wysija">
    <h5 class="footer-widget-title">Subscribe to our Newsletter</h5>
    <div class="widget_wysija_cont">
        <div id="msg-form-wysija-2" class="wysija-msg ajax"></div>
        <form id="form-wysija-2" method="post" action="#wysija" class="widget_wysija">
            <p class="wysija-paragraph">
                <input type="text" name="wysija[user][email]" class="wysija-input" title="Enter Your Email" placeholder="Enter Your Email" value="" />
                <span class="abs-req">
                      <input type="text" name="wysija[user][abs][email]" class="wysija-input" value="">
                    </span>
            </p>
            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
            <input type="hidden" name="form_id" value="1">
            <input type="hidden" name="action" value="save">
            <input type="hidden" name="controller" value="subscribers">
            <input type="hidden" value="1" name="wysija-page">
            <input type="hidden" name="wysija[user_list][list_ids]" value="1">
        </form>
    </div>
</div>