<div id="text-3" class="widget widget_text">
    <h5 class="footer-widget-title">About Us</h5>
    <div class="textwidget">
        <p> Contrivers’ Review is a non-profit digital publication in the tradition of intellectual journals, publishing the best essays on political and social theory. Its most immediate goal is to reconnect the highly professionalized discourse of theory
            with broader and more diverse audiences.</p>
        <p>
            Subscribe to keep up to date with the latest articles, interview, and book reviews.
        </p>
    </div>
</div>
<div id="wysija-2" class="widget widget_wysija">
    <h5 class="footer-widget-title">Subscribe to our Newsletter</h5>
    <div class="widget_wysija_cont">
        <div id="msg-form-wysija-2" class="wysija-msg ajax"></div>
        <form id="form-wysija-2" method="post" action="#wysija" class="widget_wysija">
            <p class="wysija-paragraph">
                <input type="text" name="wysija" class="wysija-input" title="Enter Your Email" placeholder="Enter Your Email" value="" />
            </p>
            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
        </form>
    </div>
</div>