<h1>
  {{title}}
</h1>
<header>
  <app-navbar></app-navbar>
</header>

<br>

<app-featured></app-featured>

<hr>

<!--<div class="row">
  <div class="large-10 columns valign-middle"><br>  
    <h4 class="text-center">LATEST CONTENT</h4>
  </div>
  <div class="large-2 columns valign-middle">
    <ul class="submenu menu vertical">
      <li>
        <span><a href="http://contrivers.us3.list-manage1.com/subscribe?u=dd125dca9ae429922ce3f2ff4&id=22a9f9d26e">SUBSCRIBE</a></span>
      </li>
      <li>
        <span><a href="#">DONATE</a></span>
      </li>
      <li>
        <span><a href="#">CONTRIBUTE</a></span>
      </li>
    </ul>
  </div>
</div>-->