<div class="blog-tabs clearfix">
    <h5>Latest Articles
        <a class="trigger" (click)="onShowForm()">
            <i class="fa fa-search" name="search-icon"><span> Search
              &nbsp;</span></i>
        </a>
    </h5>
    <div class="search-container" [ngClass]="{'form-is-showing': isFormShown}">
        <form id="signup_form" method="get" class="search-form" action="#">
            <div class="input_var">
                <input [(ngModel)]="searchText" class="search-field" type="search" name="search" placeholder="Search...">
            </div>
        </form>
    </div>
</div>

<div id="latest-posts" class="tab-contents active">
    <div class="contents-inner latest-post-container list-view clearfix">
        <!--latest post query goes here-->
        <app-piece *ngFor="let article of articles | filter:searchText | slice:0:limit" [article]='article'></app-piece>
    </div>
    <!-- /contenblog-popular-poststs-inner -->
    <div class="blog-navigation clearfix">
        <a id="blog-load-more" class="ajax-load-more" (click)="viewMore()">Load More</a>
    </div>
    <!-- /blog-navigation -->
</div>
<!-- /blog-latest-posts -->