<h2 id="NA">Notes &amp; Attributions</h2>
<div class="row col-md-12">
    <!-- Nav pills -->
    <ul class="nav nav-pills col-md-12" role="tablist">
        <li class="col-md-1" [ngClass]="{'active': i+1==activeFootnote}" (click)="changeFootnote(i+1)" role="presentation" *ngFor="let note of footnotes; let i=index">
            <a href="#note{{i+1}}" role="tab" data-toggle="pill">Note {{ i+1 }}</a>
        </li>
    </ul>
</div>

<!-- Pill panes -->
<div class="tab-content col-md-12">
    <div *ngFor="let note of footnotes; let i=index" [ngClass]="{'active': i+1 == activeFootnote}" role="tabpanel" class="tab-pane" id="note{{i+1}}">
        <ul [innerHTML]="note"></ul>
    </div>
</div>