.ti-panel:before {
    content: "\e686";
}

ul {
    list-style: none;
}

p {
    margin: 0 0 0 0;
}

li {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
}

li>a {
    display: inline-block;
    padding: 6px 15px;
    border: 2px solid #cccccc;
    font-size: 11px;
    background-color: transparent;
    margin: auto;
    align-content: center;
    text-align: center;
}

div.tab-content {
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}

.nav-pills>li>a {
    border-radius: 0px;
    background-color: transparent;
    border-color: #cccccc;
}

.nav-pills>li.active>a {
    background-color: #C85D43;
    color: #E1E1E1;
}

h2 {
    margin-top: 14px;
    font-size: 14px;
    margin-bottom: 6px;
    text-transform: uppercase;
}