<!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" *ngFor="let note of footnotes; let i=index">
        <div class="panel-heading" role="tab" id="heading{{i}}">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true">
          Note #{{i+1}}
        </a>
            </h4>
        </div>
        <div id="collapse{{i}}" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
                <ul [innerHTML]="footnotes[i]"></ul>
            </div>
        </div>
    </div>
</div> -->

<!-- Nav pills -->
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" *ngFor="let note of footnotes; let i=index">
        <a href="#note{{i+1}}" role="tab" data-toggle="pill">Note {{ i+1 }}</a>
    </li>
</ul>
<hr>
<!-- Pill panes -->
<div class="tab-content">
    <div *ngFor="let note of footnotes; let i=index" role="tabpanel" class="tab-pane" id="note{{i+1}}">
        <ul [innerHTML]="note"></ul>
    </div>
</div>