@import url('../../../assets/css/bootstrap2.min.css');
.ti-panel:before {
    content: "\e686";
}

ul {
    list-style: none;
}


/*-----------------------------------------
  29. Accordion
-------------------------------------------*/

.panel-default>.panel-heading {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #333;
}

.panel-group .panel {
    border-radius: 0;
    margin-bottom: 0;
}

.panel-group .panel+.panel {
    margin-top: 10px;
}

.panel-title {
    color: inherit;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.panel {
    border-radius: 0;
    box-shadow: none;
}

.panel-title a {
    position: relative;
    display: block;
}

.panel-title a::before {
    content: "";
    font-family: fontawesome;
    position: absolute;
    right: 0;
    top: -1px;
}

.panel-title a.collapsed::before {
    content: "";
}