<div class="bottom-footer-inner">
    <div class="logo-wrapper footer-logo">
        <a class="logo">
            <img width="200px" src="../../../assets/img/logo/crtrans.png" alt="logo">
        </a>
    </div>
    <!-- /logo-wrapper -->
    <ul class="social-icons small">
        <li><a href="https://www.facebook.com/contriversrev/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/contriversrev"><i class="fa fa-twitter"></i></a></li>
        <li><a href="mailto:editors@contrivers.org"><i class="fa fa-envelope-o"></i></a></li>
    </ul>
</div>
<p class="copyright">Copyright © 2017 Contrivers' Review</p>