<div class="sticky-nav sticky-nav-on enable" [ngClass]="{'sticky-nav-showing': navIsFixed}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-container">
                    <a href="http://www.contrivers.org">
                        <img src="../../assets/img/logo/crheader.png" height="21px" width="120px" alt="">
                    </a>
                </div>
                <ul id="nav" class="main-nav-items">
                    <li id="menu-item-135" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-135"><a href="http://seaboardthemes.com/flexzine/wp/category/fashion/">Fashion</a></li>
                    <li id="menu-item-136" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-136"><a href="http://seaboardthemes.com/flexzine/wp/category/lifestyle/">Lifestyle</a></li>
                    <li id="menu-item-420" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-420"><a href="http://seaboardthemes.com/flexzine/wp/category/food/">Food</a></li>
                </ul>
                <!-- /logo-container -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>