<div id="text-3" class="widget widget_text">
    <h5 class="footer-widget-title">Contribute</h5>
    <div class="textwidget">
        <p>Contrivers’ Review is always looking to add new voices and fresh perspectives. We encourage unsolicited ideas and pieces. Please email us at <a href="mailto:editors@contrivers.org">editors@contrivers.org</a>. We publish a balance of theory, analysis,
            opinion, and thoughtful reactions. While no subject is disqualified, we encourage authors to contact us with ideas rather than finished pieces. When submitting please consider our general categories: articles, reviews, responses, and interviews.</p>
    </div>
</div>
<!-- <div class="col-md-12 flexine-form">
    <textarea class="wysija-input" name="your-message" aria-invalid="false" style="background: transparent;"></textarea>
</div> -->

<!-- <div id="wysija-2" class="widget widget_wysija">
    <div class="widget_wysija_cont">
        <div id="msg-form-wysija-2" class="wysija-msg ajax"></div>
        <form id="form-wysija-2" method="post" action="#wysija" class="widget_wysija">
            <p class="wysija-paragraph">
                <input type="text" name="wysija" class="wysija-input" title="Enter Your Email" placeholder="Enter Your Email" value="" />
            </p>
            <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
        </form>
    </div>
</div> -->