<div id="text-3" class="widget widget_text">
    <h5 class="footer-widget-title">Join Us</h5>
    <div class="textwidget">
        <p>Contrivers’ is always looking to add new voices and fresh perspectives. if you have thoughts to share, send our editors a message using the text field below.</p>
    </div>
</div>
<div class="col-md-12 flexine-form">
    <textarea class="wysija-input" name="your-message" aria-invalid="false" style="background: transparent;"></textarea>
</div>

<form action="#wysija" class="widget_wysija ng-untouched ng-pristine ng-valid" id="form-wysija-2" method="post" novalidate="">
    <p class="wysija-paragraph">
        <input class="wysija-input" name="wysija" placeholder="Enter Your Email" title="Enter Your Email" type="text" value="">
    </p>
    <input class="wysija-submit wysija-submit-field" type="submit" value="Subscribe!">
</form>